<!DOCTYPE html>
<html>

<head>
    <title>@ViewData["Title"] - My Razor Page</title>
    <link rel="StyleSheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="StyleSheet" href="~/MyRazorApp.styles.css" asp-append-version="true" />
</head>

<body>
    <partial name="Shared/NavMenuPartial" />

    <h1>@ViewData["H1"]</h1>
    <header>
        <!--  
        Tag Helper 
        É um formato "amistoso" de se usar tags ASP.NET com HTML
        Para isso devemos adicionar o TagHelper com o código:
        @addTagHelper *, Microsoft.AspNetCore.MVC.TagHelpers

        A Partir disso podemos utilizar a tag <partial> do ASP.NET, passando o parâmetro 'name' com o caminho até o arquivo desejado. É padrão do ASP.NET deixar esses arquivos em uma pasta 'Shared'.
    -->
    </header>
    <main>
        @RenderBody()
    </main>
    <footer> 2023 - Powered by VSCZ </footer>
    @RenderSection(name: "scripts", required: false)
</body>

</html>