@page
@model MyRazorApp.Pages.AboutModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Sobre</title>
</head>
<body>
    <partial name="Shared/NavMenuPartial"/>
    <h1>Sobre</h1>
</body>
</html>


