@page
@model TestModel


<h1>Página para testar a criação de uma nova página Razor</h1>

@foreach (var item in Model.GuitarList)
{
    <tr>
        <table>
            <td>ABC</td>
            <td>DEF</td>
            <td>GHI</td>
            <td>JKL</td>
        </table>
    </tr>
}